body {
  margin: 0;
}



.vl {
  border-left: 6px solid eff3e3;
  height: 450px;
  position: absolute;
  left: 50%;
  top: 50;
}

/* .split-left {
  display: flex;
  float: left;
  max-width: 45%;
}

.split-right {
  display: flex;
  float: right;
  max-width: 45%;
} */

.user-interface {
  background-color: #eff3e3;
  border-color: 6px solid red;
  /* display: flex; */
}

